<div class="container my-2">
    <div class="text-center">
        <button mat-raised-button color="primary" type="button" (click)="goToAddTodo()">Create Todo</button>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <ng-container *ngIf="!isLoading">
        <mat-card *ngFor="let todo of todos">
            <p [ngClass]="{done : todo.status === 'done'}">
                {{todo.title}}
            </p>
            <p [ngClass]="{done : todo.status === 'done'}">
                {{todo.description}}
            </p>
            <button mat-stroked-button *ngIf="todo.status === 'open'" color="accent" (click)="markAsCompleted(todo.id, todo)">Mark as complete</button>
            <button mat-stroked-button *ngIf="todo.status === 'done'" color="accent" (click)="deleteTodo(todo.id)">Delete</button>
        </mat-card>
    </ng-container>
</div>